/* design <https://www.figma.com/file/eAGQEkY2x5nGNVk5e7uXon/portfolio> */
:root {
  --od-c-raisin-black: #120D1C;
  --od-c-raisin-black-rgb: 18, 13, 28;
  --od-c-magnolia: #E9E7EF;
  --od-c-magnolia-rgb: 233, 231, 239;

  --od-c-ultra-violet: #63469C;
  --od-c-ultra-violet-rgb: 99, 70, 156;
  --od-c-slate-blue: #7F60BE;
  --od-c-slate-blue-rgb: 127, 96, 190;

  --od-c-french-gray: #BDB9C7;
  --od-c-french-gray-rgb: 189, 185, 199;
  --od-c-chinese-violet: #68617A;
  --od-c-chinese-violet-rgb: 104, 97, 122;

  --od-c-alt1: #46549C;
  --od-c-alt1-rgb: 70, 84, 156;
  --od-c-alt2: #7F9C46;
  --od-c-alt2-rgb: 127, 156, 70;
}

/* variaveis de cores para o projeto */
:root {
  --od-body-bg: var(--od-c-magnolia);
  --od-nav-bg: var(--od-c-french-gray);
  --od-border: transparent;

  --od-primaria: var(--od-c-slate-blue);

  --od-body-color: var(--od-c-raisin-black);
  --od-body-color-sec: var(--od-c-chinese-violet);

  --armacao: var(--od-c-slate-blue);
  --lente: var(--od-c-raisin-black);

  --od-body-bg-rgb: var(--od-c-magnolia-rgb);
  --od-nav-bg-rgb: var(--od-c-french-gray-rgb);

  --od-primaria-rgb: var(--od-c-slate-blue-rgb);

  --od-body-color-rgb: var(--od-c-raisin-black-rgb);
  --od-body-color-sec-rgb: var(--od-c-chinese-violet-rgb);

  --ease: cubic-bezier(0.0, 0.0, 0.2, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --od-body-bg: var(--od-c-raisin-black);
    --od-nav-bg: var(--od-c-raisin-black);
    --od-border: var(--od-c-chinese-violet);

    --od-primaria: var(--od-c-ultra-violet);

    --od-body-color: var(--od-c-magnolia);
    --od-body-color-sec: var(--od-c-french-gray);

    --od-body-bg-rgb: var(--od-c-raisin-black-rgb);
    --od-nav-bg-rgb: var(--od-c-raisin-black-rgb);
    --od-border-rgb: var(--od-c-chinese-violet-rgb);

    --od-primaria-rgb: var(--od-c-ultra-violet-rgb);

    --od-body-color-rgb: var(--od-c-magnolia-rgb);
    --od-body-color-sec-rgb: var(--od-c-french-gray-rgb);

    --armacao: var(--od-c-magnolia);
    --lente: var(--od-c-ultra-violet);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color-scheme: dark;

  height: 100vh;
  width: 100vw;
  color: var(--od-body-color);
  background: var(--od-body-bg);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}
